body {
  text-align: center;
  background-image: url('../img/city.gif');
  background-position: left;
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover;
  height: 1200px;
  width: 100%;

}

h1 {
  color: white;
  padding-bottom: 20px;
  text-shadow:
}

li {
  text-align: left;
  list-style: none;
  margin-top: 10px;
  text-align: center;
  background: none;
}

li:nth-child(even) p {
  color: pink;
}

.box {
  color: grey;

}

.button {
  width: 130px;
  text-align: center;
  margin: 0 10px;
}


.h3, h3 {
  text-align: left;
}

p {
  text-align: left;
}

.imageClass {
  height: 200px;
  display: block;
  margin: 0 auto;
}

li:nth-child(even) p {
  color: pink;
}

.list-group-item {
  background: none;
  border: none;
}

.form-control {
  background: none;
}
